@use '../abstracts';

.item-section {
	.additional {
		font-size: 1.4rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding: 1.2rem;
	}

	&__overview {
		border: 1px solid abstracts.$blue;
		border-radius: 6px;

		.item-img {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				aspect-ratio: 1 / 1;
				// border-radius: 6px;
				border-top-left-radius: 6px;
				border-bottom-left-radius: 6px;
			}
		}
	}

	&__title {
		font-size: 2.5rem;
		font-weight: 900;
		color: abstracts.$blue;
		margin-bottom: 2rem;
	}

	&__promo {
		&--igloo-box {
			// background-color: abstracts.$blue;
			padding: 1rem 1.5rem;
			color: abstracts.$blue;
			font-size: 1.2rem;
			border: 1px solid transparent;
			transition: all 0.3s ease-in-out;
			position: initial;
			z-index: 2;
			width: auto;
			border-radius: 6px;
			border: 1px solid abstracts.$blue;
			font-size: 1.2rem;
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	.promo {
		font-size: 1.1rem;
		font-weight: 300;
		line-height: 136.345%;
		letter-spacing: 1.62px;
		text-transform: uppercase;
		color: abstracts.$blue-dark;
	}

	&__booking--info {
		.promo {
			font-size: 1.1rem;
			font-weight: 300;
			line-height: 136.345%;
			letter-spacing: 1.62px;
			text-transform: uppercase;
			color: abstracts.$blue-dark;
		}

		.promo-title {
			font-size: 1.6rem;
			font-weight: 700;
			color: abstracts.$blue;
		}
	}

	&__boxes {
		display: flex !important;
		flex-direction: column !important;
		gap: 1rem !important;
	}

	.overview-card {
		display: flex;
		flex-direction: column;
		padding: 2rem 3rem;
		background-color: abstracts.$blue;
		border-radius: 6px;
		color: abstracts.$white;

		&__stats {
			&--title {
				font-size: 0.9rem;
				font-weight: 300;
				line-height: 136.345%;
				letter-spacing: 1.62px;
				text-transform: uppercase;
				color: abstracts.$blue-dark;
			}

			&--number {
				color: abstracts.$white;
				font-size: 1.4rem;
				font-weight: 700;
			}
		}
	}

	&__actions {
		display: flex;
		justify-content: end;
        align-self: start;
        margin-top: 1rem;
		gap: 1rem;

		a,
		.svg-button {
			border-radius: 6px;
			background: none;
			padding: 0.4rem;
			border: 1px solid transparent;
			transition: all 0.3s ease-in-out;
			text-decoration: none;
			cursor: pointer !important;

			&:hover {
				background: abstracts.$blue-light;
				border-color: abstracts.$blue;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.item-section {
		.overview-card {
			&__stats {
				&--title {
					margin-bottom: 0.3rem !important;
					font-size: 1.2rem !important;
				}

				&--number {
					font-size: 1.7rem !important;
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.item-section {
		&__title {
			font-size: 3rem;
		}

		&__boxes {
			flex-direction: row !important;
		}
	}
}

@media screen and (min-width: 1400px){
    .item-section {

        &__overview {
            justify-content: space-between;
        }

        &__boxes {
            flex-wrap: wrap !important;
        }

        &__actions {
            margin-top: 3rem;
        }
    }
}